[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "artifactory"
url = "https://registry.saas.cagip.group.gca/api/pypi/pypi-remote/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
m2r2 = "*"
flake8 = "*"
numpydoc = "*"
wheel = "*"
codecov = "*"
bandit = "*"
twine = "*"

[packages]
numpy = "*"
pandas = ">=0.25.1"
scikit-learn = "*"
matplotlib = "*"
pillow = ">=8.3.2"  # Required by Seaborn & Github vulnerability alert
seaborn = "*"
transformers = "*"
tikzplotlib = "*"
torch = {version = "*",markers="sys_platform == 'linux'"}
flask = "*"
flask_restful = "*"
flask_swagger = "*"
loguru = "*"
