[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "artifactory"
url = "https://registry.saas.cagip.gca/api/pypi/pypi-remote/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
m2r2 = "*"
flake8 = "*"
numpydoc = "*"
wheel = "*"
codecov = "*"
bandit = "*"

[packages]
numpy = "*"
pandas = ">=0.25.1"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
transformers = "*"
tikzplotlib = "*"
torch = {version = "*",markers="sys_platform == 'linux'"}
# "torch_win" = {file="https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp38-cp38-win_amd64.whl",markers="sys_platform == 'win32'"}
flask = "*"
flask_restful = "*"
flask_swagger = "*"
loguru = "*"
twine = "*"
